<p-panel header="Posts">
  <ng-template pTemplate="icons">
    <p-button
      pRipple
      label="Add new post"
      icon="pi pi-plus"
      class="space-buttons"
      routerLink="add"
    ></p-button>
  </ng-template>

  <p-accordion [multiple]="true">
    <p-accordionTab
      *ngFor="let post of posts; let index = index; trackBy: trackByIndex"
    >
      <ng-template pTemplate="header">
        <i class="pi {{ post.active ? 'pi-eye' : 'pi-eye-slash' }}"></i>
        {{ post.date }} | {{ post.title }}
      </ng-template>
      <p>
        <p-button
          pRipple
          label="Edit"
          icon="pi pi-pencil"
          class="space-buttons"
          styleClass="p-button-warning"
          [routerLink]="post.id.toString()"
        ></p-button>
        <p-button
          pRipple
          label="Delete"
          icon="pi pi-times"
          class="space-buttons"
          styleClass="p-button-danger"
          (onClick)="onDelete(post)"
        ></p-button>
      </p>
      <p-divider></p-divider>
      <h1>{{ post.title }}</h1>
      <p-divider></p-divider>
      <p-editor [readonly]="true" [(ngModel)]="posts[index].description">
        <p-header hidden>
          <span class="ql-formats"></span>
        </p-header>
      </p-editor>
    </p-accordionTab>
  </p-accordion>
</p-panel>
