:host ::ng-deep .inline-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.space-buttons {
    margin-right: 10px
}

.dialog-content {
    margin-top: 25px;
}

.form-row {
    width: 100%;
    margin-bottom: 25px;

    .input,
    .full-button {
        width: 100%;
    }
}

.image-preview {
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}