<p-panel header="Announcement">
  <form [formGroup]="form" class="form-content">
    <span class="p-float-label form-row">
      <input
        id="name-input"
        type="text"
        class="input"
        pInputText
        formControlName="title"
      />
      <label for="name-input">Name</label>
    </span>
    <div class="form-row">
      Event
      <p-dropdown
        [options]="events"
        optionLabel="name"
        optionValue="id"
        placeholder="Select event"
        formControlName="event"
      ></p-dropdown>
    </div>
    <div class="form-row">
      <p-editor formControlName="description"></p-editor>
    </div>
  </form>

  <div class="inline-flex">
    <p-button
      label="Reset"
      icon="pi pi-times"
      styleClass="p-button-danger"
      class="space-buttons"
      (onClick)="onReset()"
    ></p-button>
    <p-button
      [label]="editedItem ? 'Update' : 'Submit'"
      icon="pi pi-check"
      class="space-buttons"
      [disabled]="!form.valid"
      (onClick)="onSubmit()"
    ></p-button>
  </div>
</p-panel>
