:host ::ng-deep .inline-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.space-buttons {
    margin-right: 20px
}

.form-content {
    margin-top: 20px;
}

.form-row {
    width: 100%;
    margin-bottom: 25px;

    .input,
    .full-button {
        width: 100%;
    }

    .space-items {
        display: flex;
        justify-content: space-between;
    }
}