:host ::ng-deep .inline-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.space-buttons {
    margin-right: 10px
}

.flag { 
    width: 35px;
    height: 35px;
}